# Maven build
target/

# Eclipse / IntelliJ / VS Code settings
.classpath
.project
.settings/
.idea/
*.iml
.vscode/

# Compiled classes
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

*.gitignore
*.docx
App.java
src/main/java/uet/arkanoid/test.java
