@font-face {
    font-family: "Jersey 25";
    src: url("../font/Jersey25-Regular.ttf");
}

#victory_menu {
    -fx-background-image: url("../background/victory_bg.png");
    -fx-background-size: cover;
    -fx-background-color: rgba(0, 0, 0, 0.8); /* dark overlay */
    -fx-background-blend-mode: overlay;

}

#option_menu {
    -fx-background-image: url("../background/option_bg.png");
    -fx-background-size: cover;
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-background-blend-mode: overlay;
}

.menu_text {
    -fx-font-family: "Jersey 25";
    -fx-font-size: 18px;
    -fx-fill: white;
}

#menu_title {
    -fx-font-family: "Jersey 25";
    -fx-font-size: 100px;
    -fx-fill: white;
}

.menu_pane {
    -fx-cursor: default;
}

.menu_pane:hover {
    -fx-cursor: hand; 
}

.menu_pane:hover Rectangle {
    -fx-fill: #5c6990;
}

.menu_pane Rectangle {
    -fx-fill: #002557;
    -fx-stroke: black;
}


