@font-face {
    font-family: "Jersey 25";
    src: url("Jersey25-Regular.ttf");
}

#root {
    -fx-background-image: url("menu_bg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.menu_text {
    -fx-font-family: "Jersey 25";
    -fx-font-size: 18px;
    -fx-fill: white;
}

.menu_pane {
    -fx-cursor: default;
}

.menu_pane:hover {
    -fx-cursor: hand; 
}

.menu_pane:hover Rectangle {
    -fx-fill: #5c6990;
}

.menu_pane Rectangle {
    -fx-fill: #002557;
    -fx-stroke: black;
}


